{% extends 'base.html' %}

{% block content %}
<style>
    .form{
    justify-content: center;
    display: flex;
    margin: 40px 50px;
    border: 3px solid blue;
    padding: 30px;
    background-color: rgb(208, 205, 248);
    }
    .table {
    margin: auto;
    border: 3px solid blue;
    padding: 30px;
    background-color: rgb(208, 205, 248);
    }
    #inp{
    margin-left: 10px;
    }
    #btn-1{
    margin-left: 20px;
    width: 150px;
    }
</style>
<form class="form" action="" method="post">
        {% csrf_token %}
        Enter your number with country code  <input type="text" name="number" id="inp" required>
        <button id="btn-1" type="submit">Submit</button>
</form>
<table class="table" border="3">
    <thead>
      <tr>
        <th>Phone no details </th>
        <th scope="col">Time zone</th>
        <th scope="col">Carrier</th>
        <th>Region</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{phone}}</td>
            <td>{{time}}</td>
            <td>{{car}}</td>
            <td>{{reg}}</td>
        </tr>
    </tbody>
  </table>
{% endblock  %}
